<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FabricioCespedesProyectoFase2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FabricioCespedesProyectoFase2.Properties.Settings>
            <setting name="CadenaConexion" serializeAs="String">
                <value>Server=.\Fabricio;Database=DBColegio;User Id=sa;Password=2836;</value>
            </setting>
            <setting name="CadenaConexionINA" serializeAs="String">
                <value>Server=UROCCFSRLAB0119\SQLEXPRESS;Database=DBColegio;User Id=sa;Password=sa;</value>
            </setting>
        </FabricioCespedesProyectoFase2.Properties.Settings>
    </applicationSettings>
</configuration>